<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.insurancesystem.mapper.WorkorderFileMapper">
    <update id="batchUpdateByWorkorderId">
        UPDATE biz_workorder_file
        SET
            file_id = CASE
            <foreach collection="list" item="item" separator="">
                WHEN file_type = #{item.type}
                THEN #{item.fileId}
            </foreach>
            ELSE file_id
            END,
            updated_by = #{updateBy}
        WHERE
            workorder_id = #{workorderId}
            AND deleted = 0
            AND file_type IN
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item.type}
            </foreach>
    </update>

    <select id="selectByWorkorderId" resultType="com.example.insurancesystem.domain.workorder.WorkorderFile">
        SELECT wf.id, wf.enterprise_id, wf.workorder_id, wf.file_id, sf.path, sf.file_name,
               wf.file_type AS type, UNIX_TIMESTAMP(wf.created_at) AS create_time,
               UNIX_TIMESTAMP(wf.updated_at) AS update_time, wf.updated_by
        FROM biz_workorder_file wf
        LEFT JOIN sys_file sf ON wf.file_id = sf.id AND sf.deleted = 0
        WHERE
            wf.workorder_id = #{id}
            AND wf.deleted = 0
    </select>
</mapper>
